Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
openpyxl==3.1.5
reportlab==4.2.5
opencv-python-headless==4.10.0.84
numpy==2.0.2
Pillow==12.1.1
qrcode==8.0
pandas==2.2.3
pypdfium2==4.30.0
pytest==8.4.2
